/* %%%%%%%%  Light-Dark Mode Toggle  %%%%%%%% */

:root[data-color-mode="light"] {
    --bg-color: #fff;
    --fg-color: #000;
    --red: #f9e9e7;
    --red-bold: #c84031;
    --green: #e9f4eb;
    --green-bold: #3c7d40;
    --yellow: #faf4df;
    --yellow-bold: #eeac3c;
    --subtitle-text: #666;
    --gh-button-background: #24292e;
    --gh-button-background-active: #313131;
    --gh-button-text: #ffffff;
}

:root[data-color-mode="dark"] {
    --bg-color: #202124;
    --fg-color: #e8eaed;
    --red: #554141;
    --red-bold: #e49086;
    --green: #414f46;
    --green-bold: #91c699;
    --yellow: #59533d;
    --yellow-bold: #f7d575;
    --subtitle-text: #cccccc;
    --gh-button-background: #24292e;
    --gh-button-background-active: #313131;
    --gh-button-text: #ffffff;
}

:root[data-color-mode="light"] .hidden_in_light_mode {
    display: none;
}

:root[data-color-mode="dark"] .hidden_in_dark_mode {
    display: none;
}

.color_mode_button {
    padding: 5px;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1;
    color: var(--fg-color);
    cursor: pointer;
    background: none;
    border: none;
    border-radius: 50px;
}

.color_mode_button svg {
    width: 1.5em;
    height: 1.5em;
    fill: none;
    stroke: var(--fg-color);
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 1.5px;
}

.color_mode_button#enable_dark_mode:hover svg,
.color_mode_button#enable_dark_mode:focus svg {
    outline: none;
    fill: var(--blue-bold);
}

.color_mode_button#enable_light_mode:hover svg,
.color_mode_button#enable_light_mode:focus svg {
    outline: none;
    fill: var(--yellow-bold);
}

/* %%%%%%%%  Main Styles  %%%%%%%% */

body,
html {
    margin: 0;
    padding: 0;
    width: 200px;
    height: 100%;
    font-family: 'Roboto', sans-serif;
    background-color: var(--bg-color);
}

#container {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 0px;
}

#title {
    margin-bottom: 10px;
    font-size: 1.65em;
    color: #fff;
    background-color: rgb(0, 187, 156);
    width: 100%;
    padding-top: 9px;
    padding-bottom: 9px;
    border-radius: 5% 40px;
}

#subtitle {
    margin-bottom: 18px;
    font-size: 1em;
    color: var(--subtitle-text);
}

#loginButton {
    background-color: var(--gh-button-background);
    color: var(--gh-button-text);
    padding: 8px 10px;
    border: 1px solid transparent;
    border-radius: 6px;
    font-size: 13px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    text-decoration: none;
    font-weight: 500;
    transition: background-color 0.3s, border-color 0.3s, color 0.3s;
    width: 100%;
    max-width: 200px;
}

#loginButton:hover,
#loginButton:focus,
#loginButton:active {
    background-color: var(--gh-button-background-active);
}

#loginButton>svg {
    fill: #ffffff;
}

#subtitle-container {
    display: flex;
    flex-direction: row;
    gap: 8px;
    padding-left: 25px;
}
